<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag 'reset.css', 'module.css', 'base.css', 'layout.css', 'typography.css',
media: "all", "data-turbolinks-track" => true %>

<%= form_for([@post, @comment]) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

  <main class="flex-main">
    <article class="flex-formcontainer">
      <section class="new-form">
        <form class="new-post">

          <div class="code-field">
            <%= f.label :content %>
            <%= f.text_area :content, class: "user-postcode" %></a>
            <%= f.hidden_field :post_id %>
          </div>
        </form>
        <a href="#">Down with markdown / Need help formatting?</a>
      </section>
      <div class="action field flex-button">
        <%= f.submit "Add Refactor", class: "button" %>
      </div>
    </article>
  </main>


<% end %>

