<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>


</head>

<body>
  <% unless current_user.present? %>
    <section class="hero">
      <h1>Refactors</h1>
      <h4 id="herotext">Because every line of code is an opportunity for optimization.</h4>
      <p>Refactors is a community of like-minded coders seeking to improve their code together.</br>
      <p>Post code to be refactored or browse code to refactor and help each other.</p>
      <%= link_to 'Post a refactor', "#modal-one", class: "button" %>
      <!-- <%= link_to 'Post a refactor', new_user_registration_path, class: "button" %> -->
      <!-- <a href="#modal-one" class="button">Post a refactor</a> -->
    </section>
  <% end %>

  <main class="flex-main">
    <article>

      <section class="flex-filter">
        <h4>Latest Refactors</h4>
        <!-- This form will filter posts by language -->
        <div class="filter">
          <%= form_tag(posts_path, class: "filterbox", method: "get", id: "filter-form") do %>
            <%= select_tag(:filter, options_from_collection_for_select(Post::LANGUAGE_OPTIONS, :first, :last), {include_blank: true}) %>
            <%= submit_tag("Filter") %>
          <% end %>
        </div>
      </section>

      <div class="flex-postcontainer">
        <%= render 'post' %>
      </div>
      
    </article>
  </main>
  <div class="minheight"></div>
  <footer>
    <p>Copyright Refactors © 2014</p>
  </footer>
</body>
</html>
