<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'reset.css', 'module.css', 'base.css', 'layout.css', 'typography.css', 
  media: "all", "data-turbolinks-track" => true %>
</head>

<body>

  <% unless current_user.present? %>
    <section class="hero">
      <h3>Refactors</h3>
      <h3>Because every line of code is an opportunity for optimization.</h3>
      <p>Refactors is a community of like-minded coders seeking to improve their code together.
      <p>Post code to be refactored or browse code to refactor and help each other.</p>
      <%= link_to 'Post a refactor', new_post_path %>
    </section>
  <% end %>

  <main class="flex-main">
    <article>

      <section class="flex-filter">
        <h4>Latest Refactors</h4>
        <!-- This form will filter posts by language -->
        <div class="filter">
          <%= form_tag(posts_path, class: "filterbox", method: "get", id: "filter-form") do %>
            <%= select_tag(:filter, options_from_collection_for_select(Post::LANGUAGE_OPTIONS, :first, :last), {include_blank: true}) %>
            <%= submit_tag("Filter") %>
          <% end %>
        </div>
      </section>
      <section class="flex-filter">
          <%= link_to 'New Post', new_post_path %>
      </section>

      <div class="flex-postcontainer">

        <% @posts.each do |post| %>
          <section class="refactorpost", id="<%= dom_id(post) %>">
            <div class="flex-vote">
              <a href="#" class="voteup">Up</a>
              <span class="votecounter">Count</span>
              <a href="#" class="votedown">Down</a>
            </div>
            <div class="flex-posttitle">
              <h3><%= link_to post.title, post %></h3>
              <h4>By: <%= post.author.name %></h4>
              <a class="language-tag"><%= Post::LANGUAGE_OPTIONS[post.language] %></a>
            </div>
          </section>
        <% end %>
      </div>
      
    </article>
  </main>
  <footer>
    <p>Copyright Refactors © 2014</p>
  </footer>
</body>
</html>
