<!DOCTYPE html>
<html>
  <head>
    <title>Refactor</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- This is the Max generated html -->
    <meta charset="utf-8">
    <meta name="decription" content="Live Project View">
    <!-- import fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>

    <!-- link to stylesheets -->
    <%= stylesheet_link_tag 'reset', 'refactors', 'base.css', media: "all", "data-turbolinks-track" => true %>

  </head>
  <body class="flex-container">
    <header class="flex-header">
      <%= link_to root_path, :class => 'logo' do %>
        <%= image_tag("REFACTORS_LOGO.svg", :class => 'logo') %>
      <% end %>

      <nav class="nav">
          <%= form_tag(posts_path, class: "searchbox", method: "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], class: "search", type: "text", placeholder: "Search Posts" %>
            <%= submit_tag("Search  ", :title => nil) %>
            <!-- <svg  class="submit" type="submit" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px"  enable-background="new 0 0 19.28 19.28" xml:space="preserve">
              <g>
                <circle opacity="0.75" fill="none" stroke="#FFFFFF" stroke-width="1.5" stroke-miterlimit="10" cx="7" cy="7" r="6.3"/>

                  <line opacity="0.75" fill="none" stroke="#FFFFFF" stroke-width="1.5" stroke-miterlimit="10" x1="13.3" y1="13.3" x2="18.8" y2="18.8"/>
              </g>
            </svg> -->
          <% end %>

        <div class="account">
          <% if current_user.present? %>
            <%= link_to current_user.email, user_path(current_user) %> /
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign up |", new_user_registration_path, :class => "signup" %>
            <%= link_to "| Sign in", new_user_session_path, :class => "login" %>
          <% end %>
        </div>
      </nav>
    </header>
    <section>
     <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </section>
  </body>
</html>
