<!DOCTYPE html>
<html>
  <head>
    <title>Refactor</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- This is the Max generated html -->
    <meta charset="utf-8">
    <meta name="decription" content="Live Project View">
    <!-- import fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,600,800,400' rel='stylesheet' type='text/css'>

    <!-- link to stylesheets -->
    <%= stylesheet_link_tag 'reset.css', 'module.css', 'base.css', 'layout.css', 'typography.css', media: "all", "data-turbolinks-track" => true %>

  </head>
  <body class="flex-container">
    <header class="flex-header">

      <%= link_to root_path do %>
        <%= image_tag("REFACTORS_LOGO.svg", class: 'refactors_logo') %>
      <% end %>

      <nav class="nav">
          <%= form_tag(posts_path, class: "searchbox", method: "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], class: "search", type: "text", placeholder: "Search Posts" %>
            <!-- <svg  class="submit" type="submit" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px"  enable-background="new 0 0 19.28 19.28" xml:space="preserve">
              <g>
                <circle opacity="0.75" fill="none" stroke="#FFFFFF" stroke-width="1.5" stroke-miterlimit="10" cx="7" cy="7" r="6.3"/>

                  <line opacity="0.75" fill="none" stroke="#FFFFFF" stroke-width="1.5" stroke-miterlimit="10" x1="13.3" y1="13.3" x2="18.8" y2="18.8"/>
              </g>
            </svg> -->
          <% end %>
        <div class="account">
          <% if current_user.present? %>
            <%= link_to 'New Post!', new_post_path, class: "new-post-button" %>
              <%= link_to current_user.name, user_path(current_user) %> /
              <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign up |", new_user_registration_path, :class => "signup" %>
            <%= link_to "| Sign in", "#modal-one", :class => "login" %>
          <% end %>
        </div>

      </nav>
    </header>
    <section>

      <%= yield %>
    </section>
  </body>
</html>
